<template>
  <div class="profile-content">
    <div class="profile-container">
      <div class="left-content">
        <div class="picture">
          <img
            class="image"
            src="~/static/Remain_Silent.jpg"
            alt="Remain Silent Artist Photo"
          />
        </div>

        <div class="links">
          <a
            id="links-twitter"
            href="https://twitter.com/_remain_silent"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'twitter']"
          /></a>
          <a
            id="links-spotify"
            href="https://open.spotify.com/artist/5pmwcvJqiHZ9ZaaFkK5YEo"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'spotify']"
          /></a>

          <a
            id="links-facebook"
            href="https://www.facebook.com/remainsilent.morita/"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'facebook-square']"
          /></a>

          <a
            id="links-soundcloud"
            href="https://soundcloud.com/remainsilent1"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'soundcloud']"
          /></a>

          <a
            id="links-soundcloud"
            href="https://www.instagram.com/remainsilent.my/"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'instagram']"
          /></a>
        </div>
      </div>

      <div class="right-content">
        <div class="name">
          <h2>Remain Silent</h2>
        </div>

        <div class="description">
          Yuuhei Morita(森田 雄平)によるソロプロジェクト。
          <br />
          2010年に作曲を開始。以降、Industrial
          Hardcoreを主軸とするプロデューサー、ライブアクトとして活動中。
          <br />
          2013年に6thの主催するIllegal wave Recordsに加入。
          Hardcoreに限らず、様々な音楽に影響を受けた作風は、クラブミュージックを超越したリズムワーク、極端にLo-Fiなサウンドを特徴とし、ある種、幻想的・哲学的とも言える世界観を映し出している。
          Japanese Stream Hardcoreシリーズ、Narcolepsy
          Recordsへの楽曲提供や、「HARDGATE」、「破壊硬戦」「BlackBox」等の国内ハードコアパーティにDJ、Live
          Actとして出演するなど、幅広く活動している。
          <br />
          近年では、より実験的かつIndustrialな音を追求したMyrrh、crossbreed方面からのアプローチに挑戦するRight
          as
          Rainといった別名義での活動もスタート。クラブミュージックのさまざまな解釈を模索している。
        </div>
      </div>
    </div>
  </div>
</template>


<style lang="scss">
.profile-content {
  padding-bottom: 20px;

  align-content: center;

  .profile-container {
    display: flex;
    flex-direction: row;
    font-size: 85%;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;

    .left-content {
      padding-left: 20px;
      flex: 1.5;
      margin-left: auto;
      margin-right: auto;
      display: flex;

      flex-direction: column;
      justify-content: flex-start;
      .picture {
        padding-top: 10px;
        .image {
          width: 100%;
        }
      }

      .links {
      }
    }

    .right-content {
      flex: 3;

      padding-left: 20px;

      .name {
        border-bottom: 1px solid #0f0f0f;
        h2 {
          font-size: 150%;
          font-weight: lighter;
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }
      .description {
        padding-left: 10px;
      }
    }
  }
}
</style>