<template>
  <div class="app-footer-container">
    <div class="footer-copy-right">
      <p>&copy; Remain Silent.</p>
    </div>
    <div class="footer-links">
          <a
            id="links-twitter"
            href="https://twitter.com/_remain_silent"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'twitter']"
          /></a>
          <a
            id="links-spotify"
            href="https://open.spotify.com/artist/5pmwcvJqiHZ9ZaaFkK5YEo"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'spotify']"
          /></a>

          <a
            id="links-facebook"
            href="https://www.facebook.com/remainsilent.morita/"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'facebook-square']"
          /></a>

          <a
            id="links-soundcloud"
            href="https://soundcloud.com/remainsilent1"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'soundcloud']"
          /></a>

          <a
            id="links-soundcloud"
            href="https://www.instagram.com/remainsilent.my/"
            target="_blank"
            rel="noopener noreferrer"
            ><font-awesome :icon="['fab', 'instagram']"
          /></a>
    </div>
  </div>
</template>


<style lang="scss">
$background-color: #39454b;
$text-color: #f0f0f0;

.app-footer-container {
  background: $background-color;

  color: $text-color;
  font-family: Nunito;

  display: flex;
  flex-direction: row;

  .footer-copy-right {
    flex: 1;
    text-align: center;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    a {
      margin-right: 16px;
      color: $text-color;
    }
  }
}

@mixin i-link($link-base-color, $link-transition-color) {
  $transition-time: 0.5s;

  color: $link-base-color;
  transition: $transition-time;

  &:hover {
    color: $link-transition-color;
    transition: $transition-time;
  }
}

#links-twitter {
  @include i-link($text-color, #1da1f2);
}
#links-spotify {
  @include i-link($text-color, #1ED760);
}
#links-facebook {
  @include i-link($text-color, #1877F2);
}
#links-soundcloud {
  @include i-link($text-color, #FF3300);
}
#links-instagram {
  @include i-link($text-color, #E4405F);
}


</style>