<template>
  <div class="app-nav-bar">
    <div class="logo">
      <h1>Remain Silent</h1>
    </div>
  </div>
</template>


<style lang="scss">
$background-color: rgba(255, 255, 255, 0.9);
$text-color: #000000;

.app-nav-bar {
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 1em;
  color: $text-color;
  font-family: Nunito;

  overflow: hidden;

  background: $background-color;
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);

  .logo {
    margin-left: 4px;
    h1 {
      font-size: 300%;
      font-weight: lighter;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}
</style>