body {
    color: black;
    background-color: #FFF;
    font-family: 'Nunito', 'sans-serif', 'M PLUS Rounded 1c';
    line-height: 1.2;
    font-size: 18px;
    font-weight: lighter;

    width: auto;
    margin: 0 auto;
}