<template>
  <div class="default-container">
    <div class="app-nav-bar">
      <app-nav-bar />
    </div>

    <div class="flex-container">
      <Nuxt class="content" />
      <app-footer class="app-footer" />
    </div>
  </div>
</template>


<script>
export default {};
</script>


<style lang="scss">
.default-container {
  background: #ffffff;
  font-size: 18px;
  font-family: "Nunito", "M PLUS Rounded 1c";

  .app-nav-bar {
    position: fixed;
  }

  .flex-container {
    padding-top: 80px;

    align-items: center;
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    width: 100%;

    .content {
      width: 100%;
      flex-grow: 1;
    }

    .app-footer {
      width: 100%;
    }
  }
}
</style>